* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #6dc5e2;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#corpo {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
    margin-left: 5px;
}

input {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

#imc {
    background-color: #6dc5e2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#imc:hover {
    background-color: #254e69;
}

#peso {
    margin-left: 12px;
}

footer {
    margin-top: auto;
}
